.menu-button {
		width:30%;
		font-size: 150%;
		margin-left:auto;
		margin-right:auto;
		background: #FF6A00;
}

body {
	background-color:#add8e6;
	color: darkblue;
}

h1 {
  font-size: 40px;
  text-align: center;
  line-height: 48px;
  float: center;
}

img {
	/*margin-left: auto;*/)
	/*margin-right: auto;*/
	display: block;
}

#admin-button{
	width:15%;
	font-size: 100%;
	float:left;
	margin-left:5%;
	background: #134EA7;
}

.admin-ul {
    list-style-type: none;
	font-size: 125%;
}

.menu-li {
	display:flex;
	justify-content:space-between;
	padding-bottom: 5px;
}

.menuH2 {
	text-align: center;
}

.bodyText {
	 color: darkblue;
}

#menu{
	float:left;
	background-color: #9AB0B9
}

.hidden{
	visibility:hidden;
	width: 0;
}

.btn-primary {
	color: darkblue;
	background: #9E1111;
}

.one-row {
	margin-left: 5%;
	display:flex;
	justify-content:space-around;
	width:90%
}

.label-text {
	float:left;
}
