.menu-button {
		width:30%;
		font-size: 150%;
		margin-left:auto;
		margin-right:auto;
		background: #FF6A00;
}

body {
	background-color:#add8e6;
	color: darkblue;
}

h1 {
  font-size: 40px;
  text-align: center;
  color: darkblue;
  line-height: 48px;
  float: center;
}

img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#admin-button{
	width:15%;
	font-size: 100%;
	float:left;
	margin-left:5%;
	background: #134EA7;
}

.wrap{
	display:none;	
}

.jpanel-ul {
    list-style-type: none;
	font-size: 125%;
}

.menu-li {
	display:flex;
	justify-content:space-between;
	padding-bottom: 5px;
}
.jpanel-li {
	height: 5%;
	padding-bottom: 20px;
	text-align:right;
}

.menuH2 {
	text-align: center;
}

.bodyText {
	 color: darkblue;
/*	 text-align: center;*/
}
/*input {
	width: 72%;
}

.panel{
	width: 73%;
}*/

#menu{
	float:left;
	background-color: #9AB0B9
}

.hidden{
	visibility:hidden;
	width: 0;
}

.btn-primary {
	color: darkblue;
	background: #9E1111;
}
